.navbar-background{
    background-color: #493971;
    min-height: 100vh;
    position: fixed;
    width: inherit;
}
.navbar{
    display: block;
}
.navbar-brand{
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    padding: 0;
    margin: 0;    
}
.navbar-brand img{
    width: 100%;
}
.navbar-expand .navbar-nav .nav-link {
    padding: 10px 40px;
    font-size: 17px;
    border-radius: 20px 0px 0px 20px;
}
.navbar-expand .navbar-collapse {
    display: block!important;
    flex-basis: auto;
    margin-top: 30px;
}
.navbar-nav{
    display: block;
    padding-left: 30px;
}
.navlink-icon{
    margin-right: 10px;
}
.nav-link {
    color: #fff;
    margin: 20px 0;
    position: relative;
    transition: .3s all ease-in-out;
}
.nav-link:focus, .nav-link:hover {
    color: #232323;
    background-color: #fff;
    width: 100%;
    transition: .3s all ease-in-out;
}
.nav-link:before,
.nav-link:after {
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    bottom: 0;
    background:radial-gradient(circle at top left, #fff0 72%, #fff 75%);
    transition: .3s all ease-in-out;
}

.nav-link:after {
    right: 0;
    top:100%;
    background:radial-gradient(circle at bottom left, #fff0 70%, #fff 75%);
}

.nav-link:before {
    bottom:100%;
    right: 0;
}
.nav-link:hover.nav-link:after,
.nav-link:hover.nav-link:before{
    height: 20px;
    width: 20px;
    transition: .3s all ease-in-out;
}
.nav-link:focus.nav-link:after,
.nav-link:focus.nav-link:before{
    height: 20px;
    width: 20px;
    transition: .3s all ease-in-out;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #232323;
    background-color: #fff;
    width: 100%;
    transition: .3s all ease-in-out;
}
.navbar-nav .nav-link.active.nav-link:after 
.navbar-nav .nav-link.active.nav-link:before {
    height: 20px;
    width: 20px;
    transition: .3s all ease-in-out;
}

/* Responsive CSS */
/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .navlink-name{
        display: none;
    }
    .navbar-brand img{
        width: 40px;
    }
    .navbar-nav{
        padding-left: 5px;
    }
    .navbar-expand .navbar-nav .nav-link {
        padding: 10px 20px;
        text-align: center;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .navlink-name{
        display: none;
    }
    .navbar-brand img{
        width: 40px;
    }
    .navbar-nav{
        padding-left: 5px;
    }
    .navbar-expand .navbar-nav .nav-link {
        padding: 10px 20px;
        text-align: center;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .navlink-name{
        display: inline-block;
        font-size: 14px;
    }
    .navbar-expand .navbar-nav .nav-link {
        padding: 10px 20px;
        text-align: start;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .navbar-nav{
        padding-left: 12px;
    }
    .navbar-brand img{
        width: 60px;
    }
 }
   
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar-nav{
        padding-left: 25px;
    }
    .navlink-name{
        font-size: 16px;
    }
}