.homepage-left{
    background-color: rgb(241, 249, 255);
    margin: 12px 0px;
    padding: 20px;
    border-radius: 5px;
}
.homepage-right{
    background-color: rgb(241, 249, 255);
    margin: 12px 0px;
    padding: 20px;
    border-radius: 5px;
}
.weekly-personal{
    margin-top: 70px;
}

/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .large-device{
        display: none;
    }
    .mobile-device{
        display: block;
    }
    .m-item{
        background-color: rgb(241, 249, 255);
        margin: 8px 0px;
        padding: 10px;
        border-radius: 5px;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .large-device{
        display: none;
    }
    .mobile-device{
        display: block;
    }
    .m-item{
        background-color: rgb(241, 249, 255);
        margin: 8px 0px;
        padding: 10px;
        border-radius: 5px;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .large-device{
        display: none;
    }
    .mobile-device{
        display: block;
    }
    .m-item{
        background-color: rgb(241, 249, 255);
        margin: 8px 0px;
        padding: 10px;
        border-radius: 5px;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .large-device{
        display: block;
    }
    .mobile-device{
        display: none;
    }
    .weekly-personal {
        margin-top: 40px;
    }
 }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .weekly-personal {
        margin-top: 40px;
    }
}