.popular-activity .title{
    margin-bottom: 15px;
}
.title h5{
    font-size: 24px;
}
#outer-grid {
    display: grid;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 180px auto auto;
    grid-auto-rows: 140px;
    grid-gap: 8px;
  }
  #inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
  }
  .grid-wide{
    grid-column: span 2;
  }
  .grid-column{
    grid-row: span 2;
  }

  #outer-grid > div{
    position: relative;
  }
  #inner-grid > div{
    position: relative;
  }
  .card-item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border-radius: 10px;
}